/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


	


@font-face {
	src:url("assets/font/fuente.ttf");
	font-family: miFuenteIncrustada2;
}

@font-face {
	src:url("assets/font/CFJackStory-Regular.ttf");
	font-family: miFuenteIncrustada3;
}


@font-face {
	src:url("assets/font/futurah.ttf");
	font-family: miFuenteIncrustada4;
}

.acerca{
	font-family: miFuenteIncrustada4;
	
	
}


.titulo_menuDe{
	font-family: miFuenteIncrustada;
	lineHeight:20px;
	
}


.notas{
	font-family: miFuenteIncrustada3;
	lineHeight:20px;
}

.fondo1{
	background-image : Embed("assets/image/patron-fondo1.jpg");
	background-image-fill-mode : repeat;


}


.fondo2{
	background-image : Embed("assets/image/patron-fondo1.jpg");
	background-image-fill-mode : repeat;

	
}



global
{
	content-background-alpha: 1.0;
	content-background-color: #101655;
}